:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    background: var(--background);
    display: grid;
    grid-template-rows: 1fr 3fr 3fr;
}

header {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: rgb(207, 160, 160);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
}

h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
}

.current-poll {
    display: flex;
}

input {
    margin: 5px;
}

.rendered-poll-container {
    margin: 10px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    background-color: darkgrey;
}

#past-poll-container {
    display: flex;
    
}

/* #past-poll-container div {
    margin: 10px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    background-color: darkgrey;
} */

.input-section {
    display: flex;
    
}

button {
    margin: 10px;
}

.vote-buttons {
    display: flex;
    
    
}

main {
    padding: 20px;
   
}



footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: .8em;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}