:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    background-color: rgb(63, 167, 150);
    display: grid;
    grid-template-rows: 1fr 3fr 3fr;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(42, 9, 68); */
    background-image: linear-gradient(to left, rgb(42, 9, 68), rgb(254, 194, 96), rgb(63, 167, 150));
    color: rgb(161, 0, 53);
    font-family: 'Rubik Dirt', cursive;
    text-shadow: 2px 5px 5px  rgb(42, 9, 68);
    font-size: 25px;
}

h3 {
    font-family: 'Rubik Dirt', cursive;
    font-size: 30px;
    color: rgb(42, 9, 68);
    text-shadow: 2px 3px 3px rgb(161, 0, 53);
    
}

button {
    color: rgb(161, 0, 53);
    background-color: rgb(254, 194, 96);
    cursor: pointer;
    padding: 3px;
    border-radius: 4px;
    font-weight: bold;
    border-color: rgb(42, 9, 68);
    box-shadow: 7px 6px 6px -4px rgba(161,0,53,1);
-webkit-box-shadow: 7px 6px 6px -4px rgba(161,0,53,1);
-moz-box-shadow: 7px 6px 6px -4px rgba(161,0,53,1);
}

button:hover {
    transform: scale(1.1);
    transition: all .2s ease-in-out;
    color:rgb(42, 9, 68);
}

form {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

.current-poll {
    display: flex;
}

input {
    margin: 5px;
}

.rendered-poll-container {
    margin: 10px;
    border: 3px solid rgb(161, 0, 53);
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    background-color: rgb(42, 9, 68);
    color: rgb(254, 194, 96);
}

.rendered-poll-container h3 {
    color: rgb(254, 194, 96);
}

#past-poll-container {
    display: flex;
    
}


.input-section {
    display: flex;
    
}

button {
    margin: 10px;
    font-family: 'Playfair Display', serif;
}

.vote-buttons {
    display: flex;
    
    
}

main {
    padding: 20px;
   
}



footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: .8em;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}